<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/homePrenotazioneAdmin.css}" rel="stylesheet">
	<object  th:replace="fragments/base.html :: headerfiles()"/>
    <link href="../../static/css/HomeLogin.css" rel="stylesheet"/>
    <link href="../../static/css/Navbar.css" rel="stylesheet"/>
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione4"></header>
	<div class="elencoAzioni">
   	   <div class="flex-container">
   	    <div class="flex-child">
        	<div class="box"><a class="azione" th:href="@{'/addFilm'}">Inserisci un film</a></div>
        	<div class="box"><a class="azione" th:href="@{'/addProiezione'}">Inserisci una proiezione</a></div>
       		<div class="box"><a class="azione" th:href="@{'/addRegista'}">Inserisci un regista</a></div>
        	<div class="box"><a class="azione" th:href="@{'/addAttore'}">Inserisci un attore</a></div>
        	<div class="box"><a class="azione" th:href="@{'/addCast'}">Inserisci il cast di un film</a></div>
   	  	</div>
   	    <div class="flex-child">
        	<div class="box"><a class="azione" th:href="@{'/removeFilm'}">Rimuovi un film</a></div>
        	<div class="box"><a class="azione" th:href="@{'/removeProiezione'}">Rimuovi una proiezione</a></div>
        	<div class="box"><a class="azione" th:href="@{'/removeRegista'}">Rimuovi un regista</a></div>
        	<div class="box"><a class="azione" th:href="@{'/removeAttore'}">Rimuovi un attore</a></div>
   	    </div>
       </div>
	</div>
    
    <footer th:replace="fragments/base.html :: fondo"></footer>
    
</body>
</html>