<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles()">
	<meta charset="UTF-8" />
	<link th:href="@{/css/navbarHome.css}" rel="stylesheet">
	<link th:href="@{/css/footer.css}" rel="stylesheet">
	<link th:href="@{/css/navbar.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
	 integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
	 crossorigin="anonymous" />
	 <link rel="stylesheet" href="../../static/css/navbarHome.css">
	 <link rel="stylesheet" href="../../static/css/navbar.css">
	 <link rel="stylesheet" href="../../static/css/footer.css">
</head>

<body>

	<!-- Navbar  -->
	<header th:fragment="intestazione">
        <div class="navbar">
            <div class="comandi">
                <a th:href="@{'/home'}" class="comando">Home</a>
                <a th:href="@{'/programmazione'}" class="comando">Film</a>
                <a th:href="@{'/login'}" class="comando bordo">Accedi alla tua area personale</a>
                <a th:href="@{'/informazioni'}" class="comando">Informazioni</a>
            </div>
            <div class="peterPan">
                <div class="titolo">Cineforum Peter Pan</div>
                <div class="immagine"></div>
            </div>
            <div class="didascalia">A differenza che nel cinema, nella vita non esiste il replay -Gabriele Salvatores</div>
        </div>
	</header>

	<!-- Navbar dopo login  -->
	<header th:fragment="intestazione2">
		<div class="navbar2">
            <div class="comandi2">
                <a th:href="@{'/homePrenotazione'}" class="comando2">Home</a>
                <a th:href="@{'/logout'}" class="comando2">Logout</a>
            </div>
		</div>
	</header>
	
	<!-- Navbar 2 senza login  -->
	<header th:fragment="intestazione3">
		<div class="navbar2">
            <div class="comandi2">
                <a th:href="@{'/home'}" class="comando2">Home</a>
                <a th:href="@{'/programmazione'}" class="comando2">Film</a>
                <a th:href="@{'/login'}" class="comando2 bordo">Accedi alla tua area personale</a>
                <a th:href="@{'/informazioni'}" class="comando2">Informazioni</a>
            </div>
        </div>
	</header>
	
		<!-- Navbar 4 admin  -->
	<header th:fragment="intestazione4">
		<div class="navbar2">
            <div class="comandi2">
                <a th:href="@{'/admin/home'}" class="comando2">Home</a>
                <a th:href="@{'/logout'}" class="comando2">Logout</a>
            </div>
        </div>
	</header>

        

	<!-- Footer  -->
	<footer th:fragment="fondo" class="footer">
            <i class="fab fa-twitter-square fa-3x icon"></i>
            <i class="fab fa-instagram-square fa-3x icon"></i>
            <i class="fab fa-facebook-square fa-3x icon"></i>
            <i class="fab fa-linkedin fa-3x icon"></i>
	</footer>

</body>

</html>