*{
    box-sizing: border-box;
}

.form{
    /*border: solid lightblue 2px;*/
    display: flex;
    flex-direction: column;
    padding-top:10%;
    width:100%;
    height:100%;
    align-items: center;
    background-image: url(../images/pexels-pixabay-33129.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nomeCampo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 200%;
}

.contenuto, .file{
    margin-top: 1%;
}

.bottoniConferma{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.grande{
	height: 90px;
	width: 80%;
}
