<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/Inserimento.css}" rel="stylesheet">
	<object th:replace="fragments/base.html :: headerfiles()" />
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione2"></header>

	<form th:action="@{/prenotazione}" method="POST" class="form page">
		<div>
		<h4 class="nomeCampo">Prenota il tuo posto in sala</h4>
			<div>
				<span class="nomeCampo">Il tuo Username:</span>
				<span><input type="text" name="username" /></span>
				<!--<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>-->
			</div>
			<div>
				<span class="nomeCampo">Sala:</span>
				<span><input type="text" name="nomeSala" /></span>
				<!--<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>-->
			</div>		
            <div>
				<span class="nomeCampo">Data:</span>
				<span class="contenuto"><input type="text" name="data" /></span>
				<!--<span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>-->
			</div>
			<div>
				<span class="nomeCampo">Numero posti:</span>
				<span class="contenuto"><input type="number" name="numeroPosti" /></span>
			</div>
			<div>
				<span class="bottoniConferma"><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>	

    <footer th:replace="fragments/base.html :: fondo"></footer>
    
</body>
</html>