<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Programmazione.css">
    <link th:href="@{/css/Programmazione.css}" rel="stylesheet">
    <object  th:replace="fragments/base.html :: headerfiles()"/>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione3"></header>

    <div class="page">
      
        <div class="sfondoNero"></div>

		<ul>
			<li th:each="unFilm : ${film}">
				<div class="film">
		            <div th:href="@{'/schedaFilm' + '/' + ${unFilm.id}}" class="locandina">
		            <img alt="" height="200" width="170" class="" src="" th:src="*{'data:image/jpeg;base64,'+{unFilm.foto}}">
		                <a th:href="@{'/schedaFilm' + '/' + ${unFilm.id}}">vedi scheda</a>
		            </div>
		            <div class="dettagli">
		                <div class="trama" th:text="${unFilm.trama}">Un investigatore e un soldato si recano 
		                    in una lussureggiante tenuta per interrogare gli eccentrici 
		                    parenti di un patriarca morto durante le celebrazioni del 
		                    suo ottantacinquesimo compleanno.</div>
		            </div>
	       		</div>
			</li>
		</ul>

        
   
    </div>


	<footer th:replace="fragments/base.html :: fondo"></footer>

</body>
</html>