<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/SchedaFilm.css">
    <link th:href="@{/css/SchedaFilm.css}" rel="stylesheet">
    <object  th:replace="fragments/base.html :: headerfiles()"/>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione3"></header>

    <div class="page">
       
        <div class="sfondoNero"></div>

        <div class="scheda">
        	<img alt="" class="artistPic" src="" th:src="*{'data:image/jpeg;base64,'+{film.foto}}">
            <div class="trama">
                <h1 th:text="${film.titolo}">Knives Out - Cena con Delitto</h1>
                <p th:text="${film.trama}">Massachusetts. Il famoso scrittore di romanzi gialli Harlan Thrombey 
                viene trovato morto nella propria camera. Una settimana dopo, i parenti 
                sono convocati per essere interrogati: tutto lascia pensare che si sia
                 trattato di un suicidio, come pensano il detective Elliot e l’agente Wagner,
                 ma secondo l’investigatore privato e consulente Benoit Blanc ci sono ancora
                 troppe domande senza una risposta, prima fra tutte: perché quella mattina 
                 una busta anonima, piena di denaro, è stata recapitata alla porta del detective
                 con la richiesta di investigare? L’anziano scrittore è stato trovato morto la
                 mattina dopo aver festeggiato il proprio 85º compleanno, invitando a casa tutti 
                 i membri dell'intera famiglia, che quindi, se non si è trattato di suicidio, 
                 si ritrovano ad essere sospettati tutti quanti, e spaventati fuggono.
                 La famiglia è grande e alquanto disfunzionale. I componenti sono i figli di Harlan, 
                 Linda e Walter, con i rispettivi coniugi, Richard e Donna, e i rispettivi figli, 
                 Hugh Ransom e Jacob, assieme a Joni, vedova del defunto figlio di Harlan, Neil, 
                 sua figlia Meg e l'anziana madre di Harlan, Nana. Altre persone vicine ad Harlan 
                 erano la domestica Fran e l’infermiera di Harlan, Marta Cabrera. Tra tutti, solo 
                 Marta sembra avere un alibi, dato che Walt ricorda di aver visto il padre dopo che 
                 la ragazza era tornata a casa. Inoltre, la giovane ha uno strano disturbo: non può 
                 mentire senza vomitare, quindi Benoit decide di farsi assistere da lei nelle indagini.
                 Man mano che l’indagine procede vengono fuori nuovi indizi, così come nuove domande. 
                 Harlan, infatti, il giorno prima aveva scoperto che Richard tradiva Linda e lo aveva 
                 esortato a confessare (l'uomo trova il biglietto con cui lo scrittore lo ricattava ma 
                 è bianco), così come aveva scoperto che Joni, con la scusa di pagare la retta scolastica 
                 di Meg, lo aveva derubato e quindi intendeva smettere di aiutarla economicamente. 
                 Inoltre l'anziano scrittore, sempre la sera prima, aveva licenziato Walt, che gli faceva 
                 anche da editore e che voleva far produrre degli adattamenti cinematografici dei romanzi 
                 del padre (cosa a cui egli era sempre stato contrario), e aveva litigato con Ransom dopo 
                 averlo escluso dal testamento.</p>
            </div>
            <div class="trafiletto">
                <div class="regista">
                    <h3>Regista</h3>
                    <a th:href="@{'/regista' + '/' + ${regista.id}}" th:text="|${regista.nome} ${regista.cognome}|">Rian Johnson</a>
                </div>
                <div class="cast">
                    <h3>Cast</h3>
                    <ul>
                    	<li  th:each="attore :${cast}">
                    		<a th:href="@{'/attore' + '/' + ${attore.id}}" th:text="|${attore.nome} ${attore.cognome}|">Chris Evans</a>
                    	</li>
                    </ul>
                </div>
                <div class="cast">
                    <h3>Proiezioni</h3>
                    <ul>
                    	<li  th:each="proiezione :${proiezioni}">
                    		<div th:text="${proiezione.data}">Chris Evans</div>
                    		<div th:text="${proiezione.orario}">orario</div>
                    	</li>
                    </ul>
                </div>
            </div>
        </div>

   
    </div>


     <footer th:replace="fragments/base.html :: fondo"></footer>

</body>
</html>